<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Υπερπηδώντας τα εμπόδια</title>
</head>
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Εμπόδια προς την επίτευξη του στόχου σου</div>
    <div class="panel-body">
        <h4>Στην προηγούμενη ενότητα, έθεσες έναν στόχο που θέλεις να πραγματοποιήσεις. Ο στόχος σου είναι </h4>
        <strong th:text="${myTarget}"></strong>
        <p>
            Συμβαίνει όμως συχνά να παρουσιάζονται εμπόδια που δυσκολεύουν την επίτευξη του στόχου μας.
        </p>
        <p>
            Στην ενότητα αυτή θα δούμε πώς μπορούμε να προτεοιμαζόμαστε για πιθανά εμπόδια ώστε να τα υπερπηδάμε και να
            φτάνουμε
            στο στόχο μας.
        </p>
    </div>
    <div class="panel-footer" th:include="activity-fragments :: next-link"></div>
</div>

</body>
</html>