<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Υπερπηδώντας τα εμπόδια</title>
</head>
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Εμπόδια προς την επίτευξη του στόχου σου</div>
        <div class="panel-body">
            <h4>Μπορείς να σκεφτείς πιθανά εμπόδια που μπορείς να συναντήσεις και να μην σου επιτρέψουν να πετύχεις το στόχο
                σου;</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="obstacle" name="obstacle"/>
                <button type="submit" class="btn btn-default" name="add">Προσθήκη</button>
            </div>
            <br/>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Εμπόδια</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r : ${me.obstacles}">
                    <td th:text="${r.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" th:include="activity-fragments :: submit-button-next"></div>
    </div>
</form>

</body>
</html>