<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Υπερπηδώντας τα εμπόδια</title>
</head>
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading" th:text="|Εμπόδια προς την επίτευξη του στόχου σου: ${myTarget}|"></div>
        <div class="panel-body">
            <h4>Τα εμπόδια που σκέφτηκες ίσως να μην παρουσιαστούν. Όμως πρέπει να είσαι έτοιμος.
                Μπορείς να σκεφτείς τρόπους ή άτομα που μπορεί να σε βοηθήσουν να τα ξεπεράσεις;</h4>
            <div th:each="o,status : ${me.obstacles}" class="form-group">
                <h5 th:text="|Εμπόδιο ${status.index + 1}: ${o.description}|"></h5>
                <input type="hidden" th:name="|obstacles[${status.index}].description|" th:value="${o.description}"/>
                <input type="text" class="form-control" th:name="|obstacles[${status.index}].availableHelp|" th:value="${o.availableHelp}"/>
            </div>
        </div>
        <div class="panel-footer" th:include="activity-fragments :: submit-button"></div>
    </div>
</form>

</body>
</html>