<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Υπερπηδώντας τα εμπόδια</title>
</head>
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading" th:text="|Η σημασία του δικού σου στόχου: ${myTarget}|"></div>
        <div class="panel-body">
            <h4>Είναι σημαντικό να έχουμε στο μυαλό μας το στόχο μας και να θυμόμαστε γιατί τον θέσαμε</h4>
            <div class="form-group">
                <label for="improvement">Μπορείς να περιγράψεις πώς θα βελτιώσει τη ζωή σου το να επιτύχεις το στόχο σου;</label>
                <input type="textarea" class="form-control" name="improvement" id="improvement"
                       th:value="${me.improvement}" placeholder="Input..."></input>
            </div>
            <hr/>
        </div>
        <div class="panel-footer" th:include="activity-fragments :: submit-button"></div>
    </div>
</form>

</body>
</html>

