<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Υπερπηδώντας τα εμπόδια</title>
</head>
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Η σημασία του δικού σου στόχου {{alpha}}</div>
        <div class="panel-body">
            <h4>Πώς πιστεύεις ότι μπορείς να ξεμπεράσεις τα εμπόδια;</h4>
            <div class="form-group">
                <label for="available_help">Μπορείς να σκεφτείς τι ή ποιος μπορεί να σε βοηθήσει να φτάσεις το στόχο σου;</label>
                <input type="textarea" class="form-control" name="available_help" id="available_help"
                       th:value="${me.availableHelp}" placeholder="Input..."></input>
                <label for="past_help">Μπορείς να σκεφτείς τι ή ποιος σε έχει βοηθήσει στο παρελθόν να φτάσεις το στόχο σου;</label>
                <input type="textarea" class="form-control" name="past_help" id="past_help"
                       th:value="${me.pastHelp}" placeholder="Input..."></input>
            </div>
        </div>
        <div class="panel-footer" th:include="activity-fragments :: submit-button"></div>
    </div>
</form>

</body>
</html>