<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Υπερπηδώντας τα εμπόδια</title>
</head>
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Η σημασία του στόχου του καθενός</div>
    <div class="panel-body">
        <h3>Δες τι πιστεύουν οι άλλοι για τους δικούς τους στόχους</h3>
        <ul th:replace="activity-fragments :: responsesPagination(${others}, ${page})"></ul>
        <div th:unless="${#lists.isEmpty(others.content)}" th:object="${others.content[0]}">
            <h4 th:text="(*{user.male}?'Ο ':'Η ') + *{user.username}  + ' έχει στόχο ' + *{target}"></h4>
            <p><strong>Σημασία στόχου: </strong><span th:text="*{improvement}"></span></p>
            <p><strong>Διαθέσιμη βοήθεια: </strong><span th:text="*{availableHelp}">Μπορεί να με βοηθήσει ...</span></p>
        </div>

        <div th:replace="activity-fragments :: noResponses(${others})"></div>
    </div>
    <div class="panel-footer" th:include="activity-fragments :: next-link"></div>
</div>

</body>
</html>