<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Υπερπηδώντας τα εμπόδια</title>
</head>
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Το δικό σου συμβόλαιο επιτυχίας</div>
        <div class="panel-body">
            <h3></h3>
            <div align="right">
                <img src="/images/activity-3/climbing-high-contract.png" width="50%"/>
            </div>
            <legend>Συμβόλαιο επιτυχίας</legend>

            <h4 th:text="|Ο στόχος μου είναι: ${myTarget}|"></h4>

            <div class="form-group">
                <label for="steps">Τα βήματα που χρειάζεται να κάνω για να τον επιτύχω</label>
                <input type="text" class="form-control" name="steps" id="steps"
                       th:value="${me.steps}" placeholder="Input..."/>
            </div>

            <div class="form-group">
                <label for="available_help">Ποιος ή τι μπορεί να με βοηθήσει</label>
                <input type="text" class="form-control" name="available_help" id="available_help"
                       th:value="${me.availableHelp}" placeholder="Input..."/>
            </div>

            <div class="form-group">
                <label for="deadline">Θα προσπαθήσω να τα καταφέρω μέχρι</label>
                <input type="date" class="form-control" name="deadline" id="deadline"
                       th:value="${me.deadline}" placeholder="Input..."/>
            </div>
        </div>
        <div class="panel-footer" th:include="activity-fragments :: submit-button"></div>
    </div>
</form>

</body>
</html>
