<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Δείτε τις παρακάτω φωτογραφίες</div>
    <div class="panel-body">
        <p>
            Μερικές φορές οι άνθρωποι κάνουν αυτά τα πράγματα επειδή τους αρέσει,
            όμως άλλες φορές τα κάνουν γιατί θέλουν να γίνουν αποδεκτοί από τους άλλους
        </p>
        <p>
            Δείτε και σχολιάστε τις επόμενες φωτογραφίες
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>