<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Παιδιά που καπνίζουν</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <p>
                        Πριν αρκετές δεκαετίες ήταν φυσιολογικό ακόμα και για μικρά παιδιά να καπνίζουν
                    </p>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-6 col-sm-8  col-xs-10">
                            <img class="col-lg-12 col-md-12 col-sm-8 col-xs-10"
                                 src="/images/activity-8/newsies_smoking_1910.jpg"/>
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-10">
                            <div class="container-fluid">
                                <div class="row">
                                    <p>
                                        Πιστεύετε πως κάποιο από αυτα τα παιδιά θα γινόταν αποδεκτό στην παρέα αν δεν
                                        κάπνιζε;
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="comment_on_smoking"
                                                   name="comment_on_smoking" th:value="${comment_on_smoking}"/>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <h5>Απαντήσεις άλλων χρηστών</h5>
                                <div class="row">
                                    <div style="display: block;" th:each="comment : ${others}">
                                        <p th:text="${comment.user.name}">Comment User</p>
                                        <p th:text="${comment.commentOnSmoking}">Comment Text</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>