<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Γιορτή της μπίρας στο Αμβούργο</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <p>
                        Στη Γερμανία συχνά έχουν γιορτή της μπίρας.
                    </p>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-6 col-sm-8  col-xs-10">
                            <img class="col-lg-12 col-md-12 col-sm-8 col-xs-10"
                                 src="/images/activity-8/drinking-beer-with-stag-friends-in-hamburg_0.jpg"/>
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-10">
                            <div class="container-fluid">
                                <div class="row">
                                    <p>
                                        Πώς πιστεύετε ότι μπορεί να νιώθει σε αυτές τις γιορτές κάποιος που δεν πίνει
                                        μπίρα;
                                        Θα του είναι εύκολο να ζει στη χώρα αυτή;
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="comment_on_beer" placeholder=""
                                                   name="comment_on_beer" th:value="${comment_on_beer}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="display: block;" th:each="comment : ${others}">
                                        <p th:text="${comment.user.name}">Νίκος</p>
                                        <p th:text="${comment.commentOnBeer}">xasf sf asdfasdf asf asf asd fa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>