<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Τα δικά σας παραδείγματα</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <p class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        Παραδείγματα πραγμάτων που μπορεί να κάνει κάποιος για να κερδίσει την αποδοχή των άλλων.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <table class="table table-hover" id="own_examples_table">
                            <thead>
                            <tr>
                                <th>Τα δικά σας παραδείγματα</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="text" id="example" name="example" class="form-control"/></td>
                            </tr>
                            <tr th:each="own_example : ${own_examples}">
                                <td th:text="${own_example}">My example</td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit" name="add" class="btn btn-default">Προσθήκη</button>

                    </div>
                    <div class="col-md-6">
                        <table class="table table-hover" id="other_examples_table">
                            <thead>
                            <tr>
                                <th>Παραδείγματα άλλων μελών</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="example : ${others_examples}">
                                <td th:text="${example}"> Example text</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" name="next" class="btn btn-default">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>