<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Πιθανές συνέπειες</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <p class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        Ποιες είναι κάποιες από τις συνέπειες που πρέπει να σκεφτούμε πριν αποφασίσουμε να κάνουμε κάτι
                        ή όχι;
                    </p>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="consequence" name="consequence" th:value="${consequence}"/>
                    <table class="table table-hover" id="other_examples_table">
                        <thead>
                        <tr>
                            <th>Παραδείγματα άλλων μελών</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c : ${others}">
                            <td th:text="${c.possibleConsequence}"> Other consequence </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>