<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Περιστατικό 1ο</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <p class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        Ο Χρήστος και ο Θωμάς πάνε σινεμά να δουν μια ταινία.
                        Δίπλα στον κινηματογράφο υπάρχει ένα μαγαζί με ηλεκτρονικά.
                        Μιας και έχουν λίγο χρόνο μέχρι να αρχίσει η ταινία, μπαίνουν μέσα.
                        Εκεί βλέπουν κάποιους συμμαθητές τους από το σχολείο οι οποίοι τους προσκαλούν
                        να πάνε στη διπλανή πλατεία να πιουν μπίρες.
                        <br/>
                        Τι θα συμβεί αν ο Χρήστος και ο Θωμάς πάνε μαζί τους; Τι θα συμβεί αν δεν πάνε;
                    </p>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="issue_1" name="issue_1" th:value="${issue_1}"/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Παραδείγματα άλλων μελών</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i : ${others}">
                            <td th:text="${i.commentOnIssue_1}"> Example </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>