<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Περιστατικό 2ο</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <p class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        Η Μαρία και ο Τίμος δεν έχουν βγει έξω για έναν μήνα σχεδόν. Ο Τίμος καλεί την Μαρία
                        και της λέει ότι οι γονείς του έχουν βγει έξω για βράδυ και την καλεί να περάσει από εκεί.
                        Ο Τίμος είναι μεγαλύτερος σε ηλικία και την παροτρύνει να μην έχει αναστολές στο να τα φτιάξουν.
                        Στην Μαρία αρέσει ο Τίμος αλλά δεν μπορεί να αποφασίσει τι να κάνει.
                        <br/>
                        Τι θα συμβεί αν η Μαρία πάει σπίτι του; Τι θα συμβεί αν δεν πάει;
                    </p>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="issue_2" name="issue_2" th:value="${issue_2}"/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Παραδείγματα άλλων μελών</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i : ${others}">
                            <td th:text="${i.commentOnIssue_2}"> Example</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>