<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Περιστατικό 3ο</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <p class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        Η Τζένη και η Σοφία είναι χρόνια φίλες, όμως τελευταία η Τζένη βγαίνει με μια διαφορετική
                        παρέα και δεν έχει καλέσει τη Σοφία να πάνε μαζί. Τελικά, την καλεί σε ένα πάρτι που θα
                        γίνει την Παρασκευή. Η Σοφία πηγαίνει στο πάρτι, αλλά μόλις φτάνει βλέπει ότι πολλά παιδιά
                        καπνίζουν ή πίνουν. Η Τζένη παροτρύνει τη Σοφία να δοκιμάσει, της λέει ότι δεν θα πάθει κάτι.
                        <br/>
                        Τι θα συμβεί αν η Σοφία δοκιμάσει; Τι θα συμβεί αν δεν δοκιμάσει;
                    </p>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="issue_3" name="issue_3" th:value="${issue_3}"/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Παραδείγματα άλλων μελών</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i : ${others}">
                            <td th:text="${i.commentOnIssue_3}"> Example </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>