<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Περιστατικό 4ο</div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <p class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        Η Τάνια είναι στ' αλήθεια έξυπνη και από το δημοτικό σχολείο ήθελε να γίνει γιατρός. Όταν
                        οι φίλοι της την προσκαλούν να παίξει τους λέει πάντα πως έχει διάβασμα και εκείνοι την
                        κοροϊδεύουν. Έχει κουραστεί να έχει φίλους που την αποκαλούν συνέχεια σπασίκλα και φυτό.
                        Νομίζει ότι χάνει τους φίλους της.
                        <br/>
                        Τι θα συμβεί αν η Τάνια συνεχίσει να μελετάει; Τι θα συμβεί αν σταματήσει;
                    </p>
                </div>
                <div class="row">
                    <input type="text" class="form-control" id="issue_4" name="issue_4" th:value="${issue_4}"/>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Παραδείγματα άλλων μελών</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="i : ${others}">
                            <td th:text="${i.commentOnIssue_4}"> Example</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>