<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Η διαδικασία λήψης αποφάσεων</div>
    <div class="panel-body">
        <p>
            Ας δούμε τα επτά βήματα της διαδικασίας λήψης αποφάσεων, όπως τα είδαμε στην τέταρτη υποενότητα.
        </p>
        <ol>
            <li>Αναγνωρίζω και προσδιορίζω τις αποφάσεις που πρέπει να ληφθούν.</li>
            <li>Γνωρίζω τι είναι σημαντικό για μένα (αξίες) και τι θέλω να πετύχω (στόχος).</li>
            <li>Μελετώ τις πληροφορίες που έχω ήδη• βρίσκω και μελετώ νέες πληροφορίες επίσης.</li>
            <li>Φτιάχνω μια λίστα με τις εναλλακτικές μου</li>
            <li>Φτιάχνω μια λίστα με τα πλεονεκτήματα και τα μειονεκτήματα κάθε απόφασης.</li>
            <li>Λαμβάνω μια απόφαση.</li>
            <li>Φτιάχνω ένα πλάνο για να κάνω πράξη την απόφασή μου.</li>
        </ol>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>