<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Εφαρμογή</div>
    <div class="panel-body">
        <p>
            Εδώ μπορείτε να δείτε απαντήσεις άλλων μελών για εφαρμογή σε υποθετική απόφαση.
        </p>
        <ul class="pagination pagination-small" th:unless="${#lists.isEmpty(others.content)}">
            <li th:class="${page eq 0}? 'disabled' "><a href="?page=0">&laquo;</a></li>

            <li th:each="n : ${#numbers.sequence(1,others.totalPages)}"><a th:href="|?page=${n-1}|" th:text="${n}"></a></li>
            <li th:class="${page+1 >= others.totalPages}? 'disabled'"><a th:href="|?page=${page+1}|">&raquo;</a></li>
        </ul>

        <div th:unless="${#lists.isEmpty(others.content)}" th:object="${others.content[0]}">
            <h4 th:text="(*{user.male}?'Ο ':'Η ') + *{user.username}  + ' απάντησε'"></h4>
            <dl>
                <dt>Υποθετική απόφαση</dt>
                <dd th:text="*{hypotheticalCase}"></dd>
                <dt>1. Αναγνωρίζω και προσδιορίζω για ποιο πράγμα πρέπει να αποφασίσω</dt>
                <dd th:text="*{hypotheticalStep_1}"></dd>
                <dt>2. Γνωρίζω τι είναι σημαντικό σε μένα (οι αξίες μου) και τι θέλω να επιτύχω (οι στόχοι
                    μου)</dt>
                <dd th:text="*{hypotheticalStep_2}"></dd>
                <dt>3. Μελετώ τις πληροφορίες που ήδη έχω• αναζητώ επιπλέον πληροφορίες και τις μελετώ κι
                    αυτές</dt>
                <dd th:text="*{hypotheticalStep_3}"></dd>
                <dt>4. Φτιάχνω λίστα με τις εναλλακτικές μου</dt>
                <dd th:text="*{hypotheticalStep_4}"></dd>
                <dt>5. Για κάθε εναλλακτική σημειώνω τα πλεονεκτήματα και τα μειονεκτήματά της</dt>
                <dd th:text="*{hypotheticalStep_5}"></dd>
                <dt>6. Παίρνω μια απόφαση</dt>
                <dd th:text="*{hypotheticalStep_6}"></dd>
                <dt>7. Αναπτύσσω ένα πλάνο για την πραγματοποιήσω</dt>
                <dd th:text="*{hypotheticalStep_7}"></dd>
            </dl>
        </div>
        <div th:if="${#lists.isEmpty(others.content)}">
            Δεν έχει απαντήσει κάποιος άλλος προς το παρόν.
        </div>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>