<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Σημασία διαδικασίας</div>
        <div class="panel-body">
            <p>Πώς αυτή η διαδικασία μπορεί να σας βοηθήσει να λαμβάνετε αποφάσεις καλύτερα;</p>
            <div class="form-group">
                <label for="help_gained"></label>
                <input type="text" class="form-control" name="help_gained" id="help_gained"
                       th:text="${me.helpGained}" placeholder="Input..."/>
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>