<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Σημασία χρόνου: Απόψεις άλλων μελών</div>
    <div class="panel-body">
        <p>Πώς η ύπαρξη ενός στόχου διευκολύνει την λήψη αποφάσεων;</p>
        <ul class="pagination pagination-small" th:unless="${#lists.isEmpty(others.content)}">
            <li th:class="${page eq 0}? 'disabled' "><a href="?page=0">&laquo;</a></li>

            <li th:each="n : ${#numbers.sequence(1,others.totalPages)}"><a th:href="|?page=${n-1}|" th:text="${n}"></a></li>
            <li th:class="${page+1 >= others.totalPages}? 'disabled'"><a th:href="|?page=${page+1}|">&raquo;</a></li>
        </ul>

        <div th:unless="${#lists.isEmpty(others.content)}">
            <dl th:each="o : ${others.content}">
                <dt th:text="(${o.user.male}?'Ο ':'Η ') + ${o.user.username}  + ' απάντησε'"></dt>
                <dd th:text="${o.targetPurpose}"></dd>
            </dl>
        </div>
        <div th:if="${#lists.isEmpty(others.content)}">
            Δεν έχει απαντήσει κάποιος άλλος προς το παρόν.
        </div>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>