<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="head (title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title th:text="${title}">Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-default" th:fragment="menu(currentPage)">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">SOS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="navbar-text">Διαχείριση</p>
            <ul class="nav navbar-nav">
                <li th:class="${currentPage eq 'users'}? 'active'"><a th:href="@{/admin/main}">Χρήστες <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Δραστηριότητες<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:each="l : ${lessons}"><a th:href="@{/}" th:text="${l.title}"></a> </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${name}"> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/logout}">Αποσύνδεση</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div th:fragment="breadcrump" class="container-fluid" style="padding-top:50px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <h3 th:text="${lessons[currentLesson].title}">Lesson Title</h3>
            <nav>
                <ul class="pagination text-center" >
                    <li th:each="m : ${modules}" th:class="${m.idx==currentTab} ? active">
                        <a th:href="@{'/activity/' + ${currentLesson + 1} + '/' + ${m.idx} + '-0'}" th:text="${m.title}">Module title</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<ul th:fragment="listPagination(list, page)" class="pagination pagination-small" th:unless="${#lists.isEmpty(list.content)}">
    <li th:class="${page eq 0}? 'disabled' "><a href="?page=0">&laquo;</a></li>

    <li th:each="n : ${#numbers.sequence(1,list.totalPages)}"><a th:href="|?page=${n-1}|" th:text="${n}"></a></li>
    <li th:class="${page+1 >= list.totalPages}? 'disabled'"><a th:href="|?page=${page+1}|">&raquo;</a></li>
</ul>

<div th:fragment="noResponses(list)" th:if="${#lists.isEmpty(list.content)}">
    Δεν έχει απαντήσει κάποιος άλλος προς το παρόν.
</div>


<div class="panel-footer" th:fragment="next-link">
    <div class="btn-toolbar" role="toolbar" aria-label="..." >
        <div class="btn-group pull-right" role="group" aria-label="...">
            <a class="btn btn-success" th:href="@{${nextStep}}">Επόμενο</a>
        </div>
    </div>
</div>

<div class="panel-footer" th:fragment="submit-button">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="submit" class="btn btn-success">Επόμενο</button>
        </div>
    </div>
</div>

<div class="panel-footer" th:fragment="submit-button-next">
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group pull-right" role="group" aria-label="...">
            <button type="submit" name="next" class="btn btn-success">Επόμενο</button>
        </div>
    </div>
</div>


<div th:fragment="scripts">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</div>

</body>
</html>