<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragment :: head('SOS :: Σελίδα διαχείρισης')">
</head>
<body>

<div class="container">
    <nav th:replace="admin/fragment :: menu('users')"></nav>

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/main}">Διαχείριση</a></li>
        <li class="active">Χρήστες</li>
    </ol>

    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Χρήστες</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Όνομα χρήστη</th>
                            <th>Όνομα</th>
                            <th>Επίθετο</th>
                            <th>Φύλο</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="u : ${users}">
                            <td><a th:href="@{/admin/user(id=${u.id})}" th:text="${u.username}"></a></td>
                            <td th:text="${u.name}">Χάρης</td>
                            <td th:text="${u.surname}">Μιχόπουλος</td>
                            <td th:text="${u.male}? 'Αγόρι' : 'Κορίτσι'">Αγόρι</td>
                        </tr>
                        </tbody>
                    </table>
                    <ul th:replace="admin/fragment :: listPagination(${users}, ${page})"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="admin/fragment :: scripts"></div>

</body>
</html>