<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="response">
    <div class="form-group">
        <h4>Πιστεύετε πως κάποιο από αυτα τα παιδιά θα γινόταν αποδεκτό στην παρέα αν δεν
            κάπνιζε;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.commentOnSmoking}"/>
    </div>

    <div class="form-group">
        <h4>Στη Γερμανία συχνά έχουν γιορτή της μπίρας.</h4>
        <p>
            Πώς πιστεύετε ότι μπορεί να νιώθει σε αυτές τις γιορτές κάποιος που δεν πίνει
            μπίρα;
            Θα του είναι εύκολο να ζει στη χώρα αυτή;
        </p>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.commentOnBeer}"/>
    </div>

    <div class="form-group">
        <h4>Παραδείγματα πραγμάτων που μπορεί να κάνει κάποιος για να κερδίσει την αποδοχή των άλλων.</h4>
        <table class="table table-hover">
            <tbody>
            <tr th:each="own_example : ${response.approvalSeekingExamples}">
                <td th:text="${own_example}">My example</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="form-group">
        <h4>Συζητήστε τη διαφορά του να κάνεις κάτι επειδή σου αρέσει και νιώθεις όμορφα
            και του να κάνεις κάτι που δεν σου φαίνεται σωστό μόνο και μόνο γιατί θέλεις την αποδοχή από
            τους άλλους.</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.difference}"/>
    </div>

    <div class="form-group">
        <h4>Ποιες είναι κάποιες από τις συνέπειες που πρέπει να σκεφτούμε πριν αποφασίσουμε να κάνουμε κάτι
            ή όχι;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.possibleConsequence}"/>
    </div>

    <div class="form-group">
        <h4>Τι συμβαίνει αν εναντιωνόμαστε στον κόσμο και κάνουμε αυτό που πιστεύουμε σωστό για εμάς;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.opposingConsequences}"/>
    </div>

    <div class="form-group">
        <h4>Όταν συμβαίνει κάτι τέτοιο, μέσα από ποια διαδικασία μπορούμε να αποφασίσουμε τι να κάνουμε;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.alternativeProcess}"/>
    </div>

    <div class="form-group">
        <h4>Αν τελικά κάνουμε αυτό που θέλουν οι άλλοι αλλά εμείς το βρίσκουμε λάθος για εμάς, πώς μπορεί να
            νιώσουμε;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.feelings}"/>
    </div>

    <div class="form-group">
        <h4>Τι μάθαμε από αυτή τη δραστηριότητα που μπορούμε να το εφαρμόσουμε σε μελλοντικές
            παρόμοιες καταστάσεις που έχουν να κάνουν με την αποδοχή από τους γύρω μας;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.learningOutcome}"/>
    </div>

    <div class="form-group">
        <h4>Περιστατικό 1ο (Ο Χρήστος και ο Θωμάς πάνε σινεμά να δουν μια ταινία.)</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.commentOnIssue_1}"/>
    </div>

    <div class="form-group">
        <h4>Περιστατικό 2ο (Η Μαρία και ο Τίμος δεν έχουν βγει έξω για έναν μήνα σχεδόν.)</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.commentOnIssue_2}"/>
    </div>

    <div class="form-group">
        <h4>Περιστατικό 3ο (Η Τζένη και η Σοφία είναι χρόνια φίλες)</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.commentOnIssue_3}"/>
    </div>

    <div class="form-group">
        <h4>Περιστατικό 4ο (Η Τάνια είναι στ' αλήθεια έξυπνη)</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.commentOnIssue_4}"/>
    </div>
</div>

</body>
</html>