<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="response">
    <div class="form-group">
        <h4>Τι πιστεύεις θα συμβεία αν αναποδογυρίσεις ένα ποτήρι με νερό;</h4>
        <div class="checkbox">
            <label>
                <input type="checkbox" th:checked="${response.waterSpill}" disabled="disabled"/>Μπορεί να χυθεί το νερό κάτω
            </label>
            <label>
                <input type="checkbox" th:checked="${response.waterGetWet}" disabled="disabled"/>Μπορεί να βραχείς
            </label>
            <label>
                <input type="checkbox" th:checked="${response.waterNothing}" disabled="disabled"/>Τίποτα
            </label>
            <label>
                <input type="checkbox" th:checked="${response.waterBreakGlass}" disabled="disabled"/>Θα σπάσει το ποτήρι
            </label>
        </div>
    </div>

    <div class="form-group">
        <h4>Τι πιστεύεις θα συμβεί αν αργήσεις το πρωί στο σχολείο;</h4>
        <div class="checkbox">
            <label>
                <input type="checkbox" th:checked="${response.lateAbsent}" disabled="disabled"/>Θα πάρεις απουσία
            </label>
            <label>
                <input type="checkbox" th:checked="${response.lateBadMark}" disabled="disabled"/>Θα σου γίνει παρατήρηση
            </label>
            <label>
                <input type="checkbox" th:checked="${response.lateNothing}" disabled="disabled"/>Τίποτα
            </label>
            <label>
                <input type="checkbox" th:checked="${response.lateEscape}" disabled="disabled"/>Ίσως γλιτώσεις το διαγώνισμα
            </label>
        </div>
    </div>

    <div class="form-group">
        <h4>Τι πιστεύεις θα συμβεί αν δεν παραδώσεις την εργασία σου;</h4>
        <div class="checkbox">
            <label>
                <input type="checkbox" th:checked="${response.submissionBadNote}" disabled="disabled"/>Θα πάρεις κακό βαθμό
            </label>
            <label>
                <input type="checkbox" th:checked="${response.submissionBadMark}" disabled="disabled"/>Θα σου γίνει παρατήρηση
            </label>
            <label>
                <input type="checkbox" th:checked="${response.submissionNothing}" disabled="disabled"/>Τίποτα
            </label>
        </div>
    </div>

    <div class="form-group">
        <h4>Τι πιστεύεις θα συμβεί αν κάνεις την εργασία σου στο διάλειμμα;</h4>
        <div class="checkbox">
            <label>
                <input type="checkbox" th:checked="${response.onBreakBadNote}" disabled="disabled"/>Θα την κάνεις βιαστικά και δεν θα είναι καλή
            </label>
            <label>
                <input type="checkbox" th:checked="${response.onBreakLooseBreak}" disabled="disabled"/> Θα χάσεις το διάλειμμά σου
            </label>
            <label>
                <input type="checkbox" th:checked="${response.submissionNothing}" disabled="disabled"/>Τίποτα
            </label>
        </div>
    </div>

    <div class="form-group">
        <h4>Τι πιστεύεις για τις επιλογές μας και τις συνέπειες</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.choicesAndConsequences}"/>
    </div>

    <div class="form-group">
        <h4>Θα ήθελες να περιγράψεις ένα παράδειγμα που έχεις να αποφασίσεις κάτι</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.decisionExample}"/>
    </div>

    <div class="form-group">
        <h4>Όταν πρέπει να πάρεις μιαν απόφαση, τι κάνεις συνήθως;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.decisionMakeHow}"/>
    </div>

    <div class="form-group">
        <h4>Σκέφτεσαι τις εναλλακτικές που έχεις;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.decisionMakeAlternatives}"/>
    </div>

    <div class="form-group">
        <h4>Αναλύεις τα + και τα - κάθε επιλογής;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.decisionMakeProsCons}"/>
    </div>

    <div class="form-group">
        <h4>Τι πιστεύεις για τις επιλογές μας και τις συνέπειες</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.choicesAndConsequences}"/>
    </div>

    <div class="form-group">
        <h4>Επιλεγμένο πρόβλημα</h4>
        <p th:if="${response.activity.activityChoice}" th:text="*{response.activity.activityChoice.description}"></p>
    </div>

    <div class="form-group">
        <h4>Αντιμετώπιση</h4>
        <img th:src="|/dynamic-image/*{response.activity.imagePath}|" width="50%"/>
    </div>
</div>

</body>
</html>