<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="response">
    <div class="form-group">
        <h4>Οι απόψεις σου σχετικά με</h4>
        <h5>Μια απόφαση δεν είναι απαραίτητη εκτός κι αν υπάρχουν παραπάνω από μία πορείες
            δράσης</h5>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.decisionNeed}"/>
        <h5>Η μη λήψη απόφασης συνιστά λήψη απόφασης</h5>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.noDecision}"/>
        <h5>Δύο άνθρωποι μπροστά στο ίδιο δίλημμα αποφασίζουν διαφορετικά επειδή επιθυμούν διαφορετικά
            πράγματα.</h5>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.twoPersons}"/>
        <h5>Η γνώση δεξιοτήτων για λήψη αποφάσεων αυξάνει τις πιθανότητες να έχουμε αυτά που
            θέλουμε</h5>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.knowledgeBenefit}"/>
        <h5>Κάθε απόφαση περιορίζεται στο τι καθένας μπορεί και τι θέλει να κάνει. Όσο περισσότερες
            εναλλακτικές έχουμε τόσο αυξάνονται αυτά που μπορούμε να κάνουμε. Αντίθετα, αυτά που
            θέλουμε προσδιορίζονται από τις αξίες μας και τους στόχους μας.</h5>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.alternatives}"/>
    </div>

    <div class="form-group">
        <h4>Αξιολογήστε παρακάτω όλες τις αποφάσεις που θυμάστε να έχετε πάρει μέχρι σήμερα.</h4>
        <table class="table table-hover" id="apofaseis_table2">
            <thead>
            <tr>
                <th>Απόφαση</th>
                <th>Αξιολόγηση</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,status : ${response.decisions}">
                <td th:text="${row.text}"> </td>
                <td th:text="${row.rating}"> </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>