<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:fragment="response">
    <div class="form-group">
        <h4>Στόχος</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.target}"/>
    </div>

    <div class="form-group">
        <h4>Εμπόδια προς την επίτευξη του στόχου και διαθέσιμη βοήθεια</h4>
        <table class="table table-hover" th:unless="${#lists.isEmpty(response.obstacles)}">
            <thead>
            <tr>
                <th>Εμπόδια</th>
                <th>Διαθέσιμη βοήθεια</th>
            </tr>
            </thead>
            <tbody>
        		<tr th:each="${response.obstacles}">
                    <td th:text="${r.description}"></td>
                    <td th:text="${r.availableHelp}"></td>
        		</tr>
        	</tbody>
        </table>
    </div>

    <div class="form-group">
        <h4>Μπορείς να περιγράψεις πώς θα βελτιώσει τη ζωή σου το να επιτύχεις το στόχο σου;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.improvement}"/>
    </div>

    <div class="form-group">
        <h4>Μπορείς να σκεφτείς τι ή ποιος μπορεί να σε βοηθήσει να φτάσεις το στόχο σου;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.availableHelp}"/>
    </div>

    <div class="form-group">
        <h4>Μπορείς να σκεφτείς τι ή ποιος σε έχει βοηθήσει στο παρελθόν να φτάσεις το στόχο σου;</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.pastHelp}"/>
    </div>

    <div class="form-group">
        <h4>Τα βήματα που χρειάζεται να κάνω για να τον επιτύχω</h4>
        <input type="text" readonly="readonly" class="form-control" th:value="${response.steps}"/>
    </div>

    <div class="form-group">
        <h4>Θα προσπαθήσω να τα καταφέρω μέχρι</h4>
        <input type="date" readonly="readonly" class="form-control" th:value="${response.deadline}"/>
    </div>

</div>

</body>
</html>