<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:replace="admin/fragment :: head('SOS :: Σελίδα διαχείρισης')">
</head>
<body>

<script>
    function loadResponse(userId, activityNo) {
        $( "#activityResponse" ).load( "/admin/response/activity/" + activityNo, { userId: userId}, function( response, status, xhr ) {
            if ( status == "error" ) {
                $( "#activityResponse").html("Παρουσιάστηκε σφάλμα. Παρακαλώ προσπαθήστε ξανά ή επιλέξτε μιαν άλλη δραστηριότητα")
            }
        });
    }
</script>

<div class="container">
    <nav th:replace="admin/fragment :: menu('users')"></nav>

    <ol class="breadcrumb">
        <li><a th:href="@{/admin/main}">Διαχείριση</a></li>
        <li><a th:href="@{/admin/main}">Χρήστες</a></li>
        <li class="active" th:text="|${user.name} ${user.surname}|"></li>
    </ol>

    <div class="container">
        <div class="row">
            <!-- TAB NAVIGATION -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Στοιχεία χρήστη</a></li>
                <li><a href="#tab2" role="tab" data-toggle="tab">Δραστηριότητες</a></li>
            </ul>
            <!-- TAB CONTENT -->
            <div class="tab-content">
                <div class="active tab-pane fade in" id="tab1" th:object="${user}">
                    <dl>
                        <dt>Όνομα χρήστη</dt>
                        <dd th:text="*{username}"></dd>
                    </dl>
                    <dl>
                        <dt>Όνομα</dt>
                        <dd th:text="*{name}"></dd>
                    </dl>
                    <dl>
                        <dt>Επίθετο</dt>
                        <dd th:text="*{surname}"></dd>
                    </dl>
                    <dl>
                        <dt>Φύλο</dt>
                        <dd th:text="*{male}? 'Αγόρι' : 'Κορίτσι'"></dd>
                    </dl>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="container">
                        <div class="row">
                            <div class="container  col-md-5 col-lg-4">
                                <h4>Δραστηριότητα</h4>
                                <div class="list-group" >
                                    <a th:href="|javascript:loadResponse(${param.id[0]}, ${lStat.count})|"
                                       th:each="l : ${lessons}"
                                       th:text="${l.title}"
                                       class="list-group-item"></a>
                                </div>
                            </div>
                            <div class="container col-md-7 col-lg-8">
                                <h4>Απαντήσεις</h4>
                                <div id="activityResponse">Παρακαλώ επιλέξτε μια δραστηριότητα</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div th:replace="admin/fragment :: scripts"></div>

</body>
</html>