<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Περιγραφή ενότητας</div>
    <div class="panel-body">
        <p>
            Οι αποφάσεις που μπορούμε να λάβουμε επηρεάζονται από πολλούς παράγοντες.
        </p>
        <p>
            Στην ενότητα αυτή θα προχωρήσουμε στον ορισμό της "λήψης αποφάσεων",
            θα δούμε τη διαφορά απόφασης και αποτελέσματος (έκβασης)
            και θα αξιολογήσεις δικές σου αποφάσεις.
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>