<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Λήψης αποφάσεων: Επισημάνσεις</div>
    <div class="panel-body">
        <p>
            Σχετικά με τη “λήψη αποφάσεων” μπορούμε να επισημάνουμε τα εξής:
        </p>
        <ul>
            <li>Μια απόφαση δεν είναι απαραίτητη εκτός κι αν υπάρχουν παραπάνω από μία πορείες δράσης</li>
            <li>Η μη λήψη απόφασης συνιστά λήψη απόφασης</li>
            <li>Δύο άνθρωποι μπροστά στο ίδιο δίλημμα αποφασίζουν διαφορετικά επειδή επιθυμούν διαφορετικά πράγματα.
            </li>
            <li>Η γνώση δεξιοτήτων για λήψη αποφάσεων αυξάνει τις πιθανότητες να έχουμε αυτά που θέλουμε</li>
            <li>Κάθε απόφαση περιορίζεται στο τι καθένας μπορεί και τι θέλει να κάνει. Όσο περισσότερες εναλλακτικές
                έχουμε τόσο αυξάνονται αυτά που μπορούμε να κάνουμε. Αντίθετα, αυτά που θέλουμε προσδιορίζονται από τις
                αξίες μας και τους στόχους μας.
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>