<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Περισσότερα πάνω στις Αποφάσεις</div>
        <div class="panel-body">
            <p>
                Γράψτε παρακάτω όλες τις αποφάσεις που θυμάστε να έχετε πάρει μέχρι σήμερα.
            </p>
            <input type="text" class="form-control" id="decision" name="decision"/>
            <table class="table table-hover" id="apofaseis_table">
                <thead>
                <tr>
                    <th>Απόφαση</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r : ${me.decisions}">
                    <td th:text="${r.text}"></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-default" name="add">Προσθήκη</button>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success" name="next">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>