<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content">
    <div class="panel panel-success">
        <div class="panel-heading">Περισσότερα πάνω στις Αποφάσεις</div>
        <div class="panel-body">
            <p>
                Αξιολογήστε παρακάτω όλες τις αποφάσεις που θυμάστε να έχετε πάρει μέχρι σήμερα.
            </p>
            <table class="table table-hover" id="apofaseis_table2">
                <thead>
                <tr>
                    <th>Απόφαση</th>
                    <th>Αξιολόγηση</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row,status : ${me.decisions}">
                    <td><input type="text" readonly="readonly" th:id="|decisions[${status.index}].text|" th:name="|decisions[${status.index}].text|" th:value="${row.text}"/> </td>
                    <td><input type="number" th:id="|decisions[${status.index}].rating|" th:name="|decisions[${status.index}].rating|" th:value="${row.rating}"/> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>