<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="head (title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title th:text="${title}">Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div>
    <div class="header" th:fragment="header">
        <div class="navbar navbar-default navbar-fixed-top " role="navigation">
            <div class="container">
                <div class="navbar-header col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle navbar-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Λήψη αποφάσεων
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li th:each="lesson : ${@decisionMakingLessons}">
                                <a th:href="${lesson.link}" th:text="${lesson.title}"> lesson.title</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text" th:text="|${name}|">ssss</p></li>
                    <li class="active"><a th:href="@{/}">SOS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding-top:50px">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" th:object="${@decisionMakingLessons[currentLesson]}">
                <h3 th:text="*{title}">Lesson Title</h3>
                <nav>
                    <ul class="pagination text-center" >
                        <li th:each="m : *{modules}" th:class="${m.idx==currentTab} ? active">
                            <a th:href="@{'/activity/' + ${currentLesson + 1} + '/' + ${m.idx} + '-0'}" th:text="${m.title}">Module title</a>
                        </li>
                    </ul>
                </nav>
                <div layout:fragment="content"></div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="scripts">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</div>

</body>
</html>