<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="activity-bare-layout :: head('Πρόγραμμα Λήψη Αποφάσεων')"></head>
<body>

<div th:replace="activity-bare-layout :: header"></div>
<div class="container-fluid" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 style="padding-bottom: 10px">Ενότητα: "Λήψη αποφάσεων"</h3>
            <div class="panel panel-success">
                <div class="panel-heading">
                    Η ομάδα αυτή περιέχει τις εξής υποενότητες:
                </div>
                <div class="panel-body">
                    <ul>
                        <li th:each="lesson : ${@decisionMakingLessons}">
                            <a th:href="${lesson.link}" th:text="${lesson.title}"></a>
                        </li>
                    </ul>
                    <a class="btn btn-success" th:href="${lessons[0].link}">Έναρξη</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="activity-bare-layout :: scripts"></div>
</body>
</html>