<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title th:text="${title} ?: 'Πρόγραμμα SOS'"></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header">
    <div class="navbar navbar-default navbar-fixed-top " role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/">SOS</a>
            </div>

            <div class="collapse navbar-collapse" role="navigation" id="js-navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${!userLoggedIn}"><a  href="/login">Σύνδεση</a></li>
                    <li th:if="${!userLoggedIn}"><a href="/register">Εγγραφή</a></li>
                    <li><a href="#portfolio-scroll">Πορτφόλιο</a></li>
                    <li><a href="#about-scroll">Πληροφορίες</a></li>
                    <li><a href="#contact-scroll">Επικοινωνία</a></li>
                    <li th:if="${userLoggedIn}" class="dropdown">
                        <a style="font-style: oblique" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${name}"> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:if="${isAdmin}" th:href="@{/admin/main}">Διαχείριση</a></li>
                            <li><a th:href="@{/logout}">Αποσύνδεση</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section style="overflow-y: scroll; height: 100%; position: relative" >
    <div id="banner-scroll">
        <section id="banner">
            <div class="jumbotron">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <img src="images/logo.jpg" alt="SOS Platform" style="margin: auto"></img>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <h1>πλατφόρμα SOS!</h1>
                            <p class="lead">
                                Ομαδοποιημένες δραστηριότητες για να σε βοηθήσουν να αντιμετωπίσεις καλύτερα τα πράγματα.
                            </p>
                            <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="portfolio-scroll">
        <section id="portfolio" class="flat">
            <div class="container-fluid">
                <div class="row">
                    <div class="row">
                        <div class="text-center">
                            <h2 class="head">Ομάδες δραστηριοτήτων</h2>
                        </div>
                    </div>

                    <div class="row">

                        <div th:class="${pStat.even}? 'col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-0' : 'col-md-5 col-sm-6'" th:each="p : ${programmes}">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="offering-image" src="programme_image"
                                                 th:src="@{'images/'+${p.image}}" width="100" height="100"></img></div>
                                        <div class="col-md-9">
                                            <h4 th:text="${p.title}">Title</h4>
                                            <p th:text="${p.description}">
                                                Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <a href="${programme.link}" th:href="${p.link}" class="btn-success btn"
                                       th:attrprepend="class=${p.enabled ? '' : 'disabled '}" role="button">Έναρξη</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="about-scroll">
        <section id="about" class="success flat" style="background-color: #eeeeee">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2>Πληροφορίες</h2>
                        <p>
                            Το πρόγραμμα αυτό δημιουργήθηκε στα πλαίσια της διπλωματικής εργασίας
                            του <em>Μιχόπουλου Χαράλαμπου</em> στο μεταπτυχιακό πρόγραμμα
                            <em>Ειδική Αγωγή</em> υπό την επίβλεψη της
                            <em>Δρ Χατζηχαραλάμπους Ξένια</em>
                        </p>
                        <p>
                            Το πρόγραμμα είναι βασισμένο στο <strong>SOS</strong>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="contact-scroll">
        <section id="contact" class="flat">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <h2>Στοιχεία επικοινωνίας</h2>
                        <dl>
                            <dt>Χαράλαμπος Μιχόπουλος</dt>
                            <dd>email: hmichopoulos@gmail.com</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<div th:fragment="scripts">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>