<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Λήψη αποφάσεων :: Συνέπειες επιλογών και αποφάσεων</title>
</head>
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">
        Εισαγωγή
    </div>
    <div class="panel-body">
        <p>
            Όταν πρέπει να πάρουμε μια απόφαση, μπορούμε συνήθως να διαλέξουμε
            μέσα από δύο ή περισσότερες επιλογές.
        </p>
        <p>
            Κάθε επιλογή μπορεί να έχει θετικές ή και αρνητικές συνέπειες.
        </p>
        <p>
            Θα μιλήσουμε για τις συνέπειες που έχει κάθε επιλογή και θα δούμε
            πώς μπορούμε να λαμβάνουμε καλύτερες αποφάσεις διαλέγοντας κάθε φορά
            την καλύτερη επιλογή.
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>