<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">
        <h4>Μερικές σύντομες ερωτήσεις</h4>
    </div>
    <div class="panel-body">
        <h4>Σκέψου <img src="/images/activity-one/thinking-emoticon.png" width="50" height="50"/> τι μπορεί να συμβεί
            στις παρακάτω περιπτώσεις και απάντησε στις ερωτήσεις.</h4>
        <p>Σε κάθε ερώτηση, μπορείς να δώσεις παραπάνω από μία απαντήσεις.</p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>


