<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading"><h4>Για παράδειγμα</h4></div>
    <div class="panel-body">
        <p>Για παράδειγμα, αν ξεχάσουμε την εργασία μας στο σπίτι, φεύγοντας για το σχολείο, έχουμε διάφορες επιλογές,
            όπως:
        <ol>
            <li>να επιστρέψουμε σπίτι να την πάρουμε με κίνδυνο να αργήσουμε στο σχολείο</li>
            <li>να την αφήσουμε σπίτι και να την κάνουμε στο διάλειμμα</li>
            <li>να μην την παραδώσουμε</li>
        </ol>
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>