<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading"><h4>Επομένως...</h4></div>
    <div class="panel-body">
        <p>... μια καλή απόφαση είναι αυτή κατά την οποία έχουμε σκεφτεί αρκετές επιλογές,
            τις συνέπειές τους και τις έχουμε ζυγίσει αρκετά, ώστε να ξέρουμε τι θα περιμένουμε.</p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>