<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading"><h4>Η τεχνική 1-2-3!</h4></div>
    <div class="panel-body">
        <h4>Όλα τα βήματα μαζί</h4>
        <ol>
            <li>Σκέφτομαι τις επιλογές μου</li>
            <li>Σκέφτομαι τις πιθανές συνέπειες κάθε επιλογής</li>
            <li>Διαλέγω την καλύτερη επιλογή</li>
        </ol>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>