<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading"><h4>Αποτυπώνοντας τις σκέψεις μου!</h4></div>
    <div class="panel-body">
        <h3>Βάζω στο κέντρο το θέμα για το οποίο πρέπει να αποφασίσω</h3>
        <h3>Έπειτα...</h3>
        <ol>
            <li>Βάζω μία μία τις επιλογές μου</li>
            <li><h4>Σε κάθε επιλογή, αντιστοιχίζω πιθανές συνέπειες</h4>
                <img src="/images/activity-one/4-c.png" width="100%"/>
            </li>
            <li>Διαλέγω την καλύτερη επιλογή</li>
        </ol>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>