<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading"><h4>Δραστηριότητα</h4></div>
    <div class="panel-body">
        <p>Μπορείς να διαλέξεις ένα από τα επόμενα προβλήματα και να
            εφαρμόσεις το 1-2-3! ώστε να αποφασίσεις.</p>
        <p>Μπορείς να δημιουργήσεις ένα σχέδιο με τις επιλογές σου
            και τις θετικές και αρνητικές συνέπειες κάθε μίας.</p>
        <p>Μπορείς να το κάνεις στο χαρτί ή στον υπολογιστή.</p>
        <p>Στο τέλος θα δεις πώς είδαν κάποιοι άλλοι το ίδιο πρόβλημα.</p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>