<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<form action="" method="POST" role="form" layout:fragment="content" th:object="${activity}">
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Δραστηριότητα: Επιλογή προβλημάτων</h4></div>
        <div class="panel-body">
            <p>Διάλεξε ένα από τα παρακάτω προβλήματα.</p>
            <ul>
                <li style="list-style: none" th:each="c : ${T(local.unic.thesis.sos.persistence.model.ActivityOneChoice).values()}">
                    <input type="radio" th:field="*{activityChoice}" th:value="${c}"/>
                    <span th:text="${c.description}"></span>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="submit" class="btn btn-success">Επόμενο</button>
                </div>
            </div>
        </div>
    </div>
</form>

</body>
</html>