<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Βήμα 5 : Φτιάχνω μια λίστα με τα πλεονεκτήματα και τα μειονεκτήματα κάθε απόφασης</div>
    <div class="panel-body">
        <h4>Οι απόψεις των συμμαθητών σου</h4>
        <ul class="pagination pagination-small" th:unless="${#lists.isEmpty(others.content)}">
            <li th:class="${page eq 0}? 'disabled' "><a href="?page=0">&laquo;</a></li>

            <li th:each="n : ${#numbers.sequence(1,others.totalPages)}"><a th:href="|?page=${n-1}|" th:text="${n}"></a></li>
            <li th:class="${page+1 >= others.totalPages}? 'disabled'"><a th:href="|?page=${page+1}|">&raquo;</a></li>
        </ul>

        <div th:unless="${#lists.isEmpty(others.content)}" th:object="${others.content[0]}">
            <h4 th:text="(*{user.male}?'Ο ':'Η ') + *{user.username}  + ' απάντησε'"></h4>
            <dl>
                <dt>Ποια είναι η επιλογή που διάλεξες;</dt>
                <dd th:text="*{decision}"></dd>
                <dt>Ποια είναι τα πλεονεκτήματα αυτής της επιλογής</dt>
                <dd th:text="*{advantages}"></dd>
                <dt>Ποια είναι τα μειονεκτήματα αυτής της επιλογής</dt>
                <dd th:text="*{disadvantages}"></dd>
            </dl>
        </div>
        <div th:if="${#lists.isEmpty(others.content)}">
            Δεν έχει απαντήσει κάποιος άλλος προς το παρόν.
        </div>
    </div>
    <div class="panel-footer" th:include="activity-fragments :: next-link"></div>
</div>

</body>
</html>
