<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Αποφάσεις, Αποφάσεις!</title>
</head>
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Διαδικασία λήψης αποφάσεων: όλα τα βήματα {{alpha}}</div>
    <div class="panel-body">
        <ol>
            <li>Αναγνωρίζω και προσδιορίζω τις αποφάσεις που πρέπει να ληφθούν.</li>
            <li>Γνωρίζω τι είναι σημαντικό για μένα (αξίες) και τι θέλω να πετύχω (στόχος).</li>
            <li>Μελετώ τις πληροφορίες που έχω ήδη• βρίσκω και μελετώ νέες πληροφορίες επίσης.</li>
            <li>Φτιάχνω μια λίστα με τις εναλλακτικές μου</li>
            <li>Φτιάχνω μια λίστα με τα πλεονεκτήματα και τα μειονεκτήματα κάθε απόφασης.</li>
            <li>Λαμβάνω μια απόφαση.</li>
            <li>Φτιάχνω ένα πλάνο για να κάνω πράξη την απόφασή μου.</li>
        </ol>
    </div>
    <div class="panel-footer" th:include="activity-fragments :: submit-button"></div>
</div>

</body>
</html>