<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Βήμα 4 : Φτιάχνω μια λίστα με τις εναλλακτικές μου</div>
    <div class="panel-body">
        <h4>Οι απόψεις των συμμαθητών σου</h4>
        <ul class="pagination pagination-small" th:unless="${#lists.isEmpty(others.content)}">
            <li th:class="${page eq 0}? 'disabled' "><a href="?page=0">&laquo;</a></li>

            <li th:each="n : ${#numbers.sequence(1,others.totalPages)}"><a th:href="|?page=${n-1}|" th:text="${n}"></a></li>
            <li th:class="${page+1 >= others.totalPages}? 'disabled'"><a th:href="|?page=${page+1}|">&raquo;</a></li>
        </ul>

        <div th:unless="${#lists.isEmpty(others.content)}" th:object="${others.content[0]}">
            <h4>Κοιτάμε στο μέλλον. Αναρωτιόμαστε: ποια είναι τα πιθανά αποτελέσματα κάθε εναλλακτικής;</h4>
            <h4 th:text="(*{user.male}?'Ο ':'Η ') + *{user.username}  + ' απάντησε'"></h4>
            <dl>
                <dt>δεν πάμε στο πανεπιστήμιο;</dt>
                <dd th:text="*{noUniversity}"></dd>
                <dt>δεν παντρευτούμε ποτέ;</dt>
                <dd th:text="*{noMarriage}"></dd>
                <dt>μας διώξουν από το σχολείο;</dt>
                <dd th:text="*{noSchool}"></dd>
                <dt>αρχίσουμε να δοκιμάζουμε ναρκωτικά;</dt>
                <dd th:text="*{drugs}"></dd>
                <dt>γίνουμε επαγγελματίες τραγουδιστές;</dt>
                <dd th:text="*{becomeSinger}"></dd>
                <dt>αποφασίσουμε να μην πιούμε ποτέ αλκοόλ;</dt>
                <dd th:text="*{noAlcohol}"></dd>
                <dt>αποφασίσουμε να μην κάνουμε ποτέ παιδιά;</dt>
                <dd th:text="*{noKids}"></dd>
                <dt>Πού βασίζουμε τις προβλέψεις μας; Με ποια λογική τις κάνουμε;
                    Ποιες πληροφορίες χρησιμοποιούμε;</dt>
                <dd th:text="*{rationale}"></dd>
            </dl>
        </div>
        <div th:if="${#lists.isEmpty(others.content)}">
            Δεν έχει απαντήσει κάποιος άλλος προς το παρόν.
        </div>
    </div>
    <div class="panel-footer" th:include="activity-fragments :: next-link"></div>
</div>

</body>
</html>
