<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="activity-bare-layout" >
<head>
    <title>Λήψη αποφάσεων :: Ο τροχός του στόχου</title>
</head>
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Οι απόψεις των άλλων για τους στόχους και τη σημασία τους</div>
    <div class="panel-body" th:if="${not #lists.isEmpty(others)}">
        <ul th:replace="activity-fragments :: responsesPagination(${others}, ${page})"></ul>

        <div th:unless="${#lists.isEmpty(others.content)}" th:object="${others.content[0]}">
            <h4 th:text="(*{user.male}?'Ο ':'Η ') + *{user.username}  + ' για τους στόχους'"></h4>
            <p th:text="*{definition}"></p>
            <h4>και τη σημασία τους</h4>
            <p th:text="|*{purpose}|"></p>
        </div>

        <div th:replace="activity-fragments :: noResponses(${others})"></div>
    </div>

    <div class="panel-footer" th:include="activity-fragments :: next-link"></div>
</div>

</body>
</html>