<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Περιγραφή ενότητας</div>
    <div class="panel-body">
        <p>
            Το πρώτο βήμα για να πετύχουμε κάτι είναι να το αποφασίσουμε, να το βάλουμε ως στόχο.
            Έπειτα, προσδιορίζουμε τα απαραίτητα βήματα και προχωράμε προς την επίτευξή του.
        </p>
        <p>
            Στην ενότητα αυτή θα δούμε πώς να θέτουμε πρακτικούς και πραγματοποιήσιμους στόχους,
            ώστε τελικά να έχουμε τη χαρά της επιτυχίας.
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>