<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Οι δικοί σου στόχοι</div>
    <div class="panel-body">
        <p>
            Στα πλαίσια του προγράμματος αυτού, έχεις θέσει ήδη κάποιους στόχους. Ας τους θυμηθούμε:
        </p>
        <ul>
            <li>{{target1}}</li>
            <li>{{target2}}</li>
            <li>{{target3}}</li>
        </ul>
        <p>
            Στο τέλος της ενότητας θα έχεις την ευκαιρία να καταγράψεις την πρόοδό σου.
        </p>
        <p>
            Ας δούμε πρώτα κάποιες συμβουλές για θέσπιση πρακτικών και πραγματοποιήσιμων στόχων.
        </p>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>