<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Συμβουλές Θέσπισης Στόχων</div>
    <div class="panel-body">
        <h4>6. Οι στόχοι πρέπει να είναι διατυπωμένοι με θετική μορφή και όχι αρνητική.</h4>
        <em>Το “θα κάνω κάτι” είναι προτιμότερο από το “δεν θα κάνω κάτι”.
        </em>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>