<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Συμβουλές Θέσπισης Στόχων</div>
    <div class="panel-body">
        <h4>7. Πρέπει να γράφω τους στόχους μου.</h4>
        <em>Οι άνθρωποι είναι πιο πιθανό να επιτύχουν στόχους τους οποίους έχουν γράψει.
            Οι καταγεγραμμένοι στόχοι είναι πιο δυνατοί και είναι ευκολότερο να τους αναθεωρήσουμε.
            Είναι σαν ένα συμβόλαιο με τον εαυτό μας, που είναι δύσκολο να απορρίψουμε ή να ξεχάσουμε.
        </em>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>