<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Συμβουλές Θέσπισης Στόχων - Σύνοψη</div>
    <div class="panel-body">
        <ul>
            <li>Οι στόχοι πρέπει να είναι ξεκάθαροι και να περιγράφουν ακριβώς τι θέλω ή τι θα κάνω.</li>
            <li>Οι στόχοι πρέπει να είναι προσωπικοί.</li>
            <li>Οι στόχοι πρέπει να είναι μετρήσιμοι.</li>
            <li>Οι στόχοι πρέπει να έχουν ρεαλιστικό χρονοδιάγραμμα.</li>
            <li>Οι στόχοι πρέπει να είναι διαχειρίσιμοι.</li>
            <li>Οι στόχοι πρέπει να είναι διατυπωμένοι με θετική μορφή και όχι αρνητική.</li>
            <li>Πρέπει να γράφω τους στόχους μου.</li>
        </ul>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>