<!DOCTYPE html>
<html lang="en" layout:decorator="activity-bare-layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="panel panel-success" layout:fragment="content">
    <div class="panel-heading">Καταγραφή προόδου</div>
    <div class="panel-body">
        <h3>Στόχος: </h3>
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Βήματα προς την επίτευξη</th>
                <th>Ημ/νία ελέγχου</th>
                <th>Ολοκληρωμένο βήμα</th>
                <th>Μη ολοκληρ. βήμα</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Πρώτο βήμα</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group pull-right" role="group" aria-label="...">
                <a class="btn btn-success" href="" th:href="@{${nextStep}}">Επόμενο</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>